.login-container {
    display: flex;
    flex-direction: column;
}

.login-container > .error-message {
    margin-top: 1rem;
    color: red;
}

.login-container > .input-container {
    display: flex;
    gap: 0 1rem;
}

.login-container > .input-container > .form-control {
    flex: 1;
}
